{% extends 'tdcQABundle:Default:layout.html.twig' %}
{% block titleName %}Answer Question{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        debug=true
        'public/js/jquery/jquery.validate.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"  /></script>
    {% endjavascripts %}
{% endblock header_javascripts %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/themes/base/jquery.ui.all.css' 
            filter='cssrewrite'
            output='css/*.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<h2>Answer Question</h2>
<form action="{{ path('tdc_qa_answer',{'id':question.id}) }}" method="post" {{ form_enctype(answerForm) }}
    id="answerForm" novalidate="novalidate" >
    <table>
        <tr>
            <td>{{ form_label(answerForm.title) }}</td>
            <td > 
                {{ form_widget(answerForm.title) }}
                {{ form_errors(answerForm.title) }}
            </td>
        </tr>
        <tr>
            <td>{{ form_label(answerForm.text) }}</td>
            <td >
                {{ form_widget(answerForm.text) }}<br/>
                {{ form_errors(answerForm.text) }}
            </td>
        </tr>
    </table>
    {{ form_rest(answerForm) }}
    <div class="submitBtn"><input type="submit" class="tdcButton" /></div>
</form>

    > <a href="{{ path("tdc_qa_homepage")}}">Q & A</a>
    <div class="questionArea">
        <div class="questionTitle">{{ question.title }}</div>
        <div class="questionText">{{question.text}}</div>
        <div class="author">author: 
            <i>{{question.user}}</i>
        </div>
        <div class="updated">updated: 
            <i>{{ question.updated|date("m/d/Y H:i:s") }}</i>
        </div>
        <div class="views">views: {{question.views}}</div>
        <div class="tags">
            {% for tag in question.tags %}
            <span class="tag">
                <a href="{{path("tdc_qa_tagged",{"tag":tag.value})}}">{{ tag.value }}</a>
            </span>
            {% endfor %}
        </div>
        <div class="answerArea">
            {% for ans in question.answers %}
            <div class="answerTitle">{{ans.title}}</div>
            <div class="answerText">{{ans.text}}</div>
            <div class="author">author: 
                <i>{{ans.user}}</i>
            </div>
            <div class="updated">updated: 
                <i>{{ ans.updated|date("m/d/Y H:i:s") }}</i>
            </div>
            <div class="questionEnd"></div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block sidebar %}
{% include 'tdcQABundle:Default:sidebar.html.twig' with
    {'tags': tags,
     'mode': 'answer'} 
%}
{% endblock sidebar %}

{% block javascripts %}
    {{parent()}}
    <script>
    $('#form_text').tinymce({
            // Location of TinyMCE script
            script_url : '{{path("tdc_front_homepage")}}../bundles/tdcqa/js/tinymce/jscripts/tiny_mce/tiny_mce.js',

            // General options
            theme : "advanced",
            plugins : "preelementfix",

            // Theme options
            //theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect",
            //theme_advanced_buttons2 : "styleselect,formatselect,fontselect,fontsizeselect",
            //theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            //theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            //theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false,

            remove_linebreaks : false,
            theme_advanced_blockformats : "p,h1,h2,h3,blockquote,pre",

            // Style formats
            style_formats : [
            {title : 'Python', block:'pre',classes:'brush:python' },
            {title : 'C/C++', block:'pre', classes:'brush:cpp' },
            {title : 'RSL', block:'pre',classes:'brush:c' },
            ],
            // Example content CSS (should be your site CSS)
            //content_css : "css/content.css",

            // Drop lists for link/image/media/template dialogs
            template_external_list_url : "lists/template_list.js",
           external_link_list_url : "lists/link_list.js",
           external_image_list_url : "lists/image_list.js",
           media_external_list_url : "lists/media_list.js",
    });

    $("#answerForm").validate({
        rules:{
            "form[title]":{
                required: true,
                minlength: 10
            },
            "form[text]":{
                required:true,
                minlength:20
            }
        },
        messages:{
            "form[title]":{
                required:"Please provide a title for the question",
                minlength:"Title must have at least 10 characters"
                },
            "form[text]":{
                required:"Please provide a text for the question",
                minlength:"Question must have at least 20 characters"
                }
        }
    });
    
    $("#answerForm").bind("keypress", function(e) {
        if (e.keyCode == 13) {
            return false;
        }
    });

    </script>
{% endblock %}
