{% extends 'tdcQABundle:Default:layout.html.twig' %}

{% block titleName %}Knowledge Base{% endblock %}

{% block body %}
    <div id="paginatorTop" class="paginator"></div>
    {% for item in questions %}
        <div class='questionSummary'>
            <div class="questionTitle"><a href="{{path("tdc_qa_view",{'id': item.id}) }}">{{item.title}}</a></div>
            <div class="tags">
                {% for tag in item.tags %}
                <span class="tag">
                    <a href="{{ path("tdc_qa_tagged",{"tag":tag.value})}}">{{ tag.value }}</a>
                    </span>
                {% endfor %}
            </div>
            <div class="author">author: 
                <i>{{item.user}}</i>
            </div>
            <div class="updated">updated: 
                <i>{{ item.updated|date("m/d/Y H:i:s") }}</i>
            </div>
            <div class="views">views: {{item.views}}</div>
            <div class="answers">answers: {{item.answers|length}}</div>
        </div>
    {% endfor %}
    <div id="paginatorBottom" class="paginator"></div>
{% endblock body%}

{% block sidebar %}
{% include 'tdcQABundle:Default:sidebar.html.twig' with 
    { 'mode':'index'} 
%}
{% endblock sidebar %}

{% block javascripts %}
    {{ parent() }}
    <script >
    $('.paginator').tdcPaginator({
                start:{{start}},
                max:{{max}},
                lastLabel:">>",
                firstLabel: "<<",
                trailLinks: 3,
                queryUrl:'{{ path("tdc_ws_question_list")}}',
                targetUrl:'{{ path("tdc_qa_homepage") }}'
                });
   </script>
{% endblock javascripts %}
