{% extends 'tdcQABundle:Default:layout.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        debug=true
        'public/js/jquery/jquery-ui-1.8.16.custom.min.js'
        'public/js/tdc/tdc.js'
        'public/js/tdc/tdc.paginator.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"  /></script>
    {% endjavascripts %}
{% endblock header_javascripts %}

{% block titleName %}Q&A{% endblock %}

{% block body %}
    <div id="paginatorTop" class="paginator"></div>
    
    <div id="questions_hldr">
    {% set i = 0 %}
    {% for item in questions %}
        <div class='questionSummary row_{{ cycle(['0', '1'], i) }}'>
            <div class="questionTitle"><a href="{{path("tdc_qa_view",{'id': item.id}) }}">{{item.title}}</a></div>
            <div class="tags">
                {% for tag in item.tags %}
                <span class="tag">
                    <a href="{{ path("tdc_qa_tagged",{"tag":tag.value})}}">{{ tag.value }}</a>
                    </span>
                {% endfor %}
            </div>
            <div class="author">author: 
                <i>{{item.user}}</i>
            </div>
            <div class="updated">updated: 
                <i>{{ item.updated|date("m/d/Y H:i:s") }}</i>
            </div>
            <div class="views">views: {{item.views}}</div>
            <div class="answers">answers: {{item.answers|length}}</div>
        </div>
        {% set i = i + 1 %}
    {% endfor %}
    </div>

    <div id="paginatorBottom" class="paginator"></div>
{% endblock body%}

{% block sidebar %}
{% render "tdcQABundle:Default:sideBar" with { 'mode':'index'} %}
{% endblock sidebar %}

{% block javascript_post %}
    {{ parent() }}
    $('.paginator').tdcPaginator({
                start:{{start}},
                max:{{max}},
                lastLabel:">>",
                firstLabel: "<<",
                trailLinks: 3,
                currentPageColor:"rgb(0,105,255)",
                queryUrl:'{{ path("tdc_ws_question_list")}}',
                targetUrl:'{{ path("tdc_qa_homepage") }}'
                });
{% endblock javascript_post %}
