{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        debug=true
        'public/js/jquery/jquery-ui-1.8.16.custom.min.js'
        'public/js/tdc/tdc.js'
        'public/js/tdc/tdc.paginator.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"  /></script>
    {% endjavascripts %}
{% endblock header_javascripts %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=false
    '@tdcQABundle/Resources/public/css/qa.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block contentArea %}
<div id="contentHolder">
    <div class="questionArea">
        {%block body %}{% endblock %}
    </div>
    <div id="sidebarArea">
    {% block sidebar%}{% endblock sidebar %}
    </div>
</div>
{% endblock contentArea %}

{% block javascripts %}
    {{ parent() }}
    <script >
    $("#sidebarArea").css("position","relative");
    $("#sidebarArea").css("top",-$(".questionArea").outerHeight());
    $("#sidebarArea").css("left",$(".questionArea").outerWidth());
    $("#contentHolder").height($("#contentHolder").height() - $("#sidebarArea").outerHeight());
   </script>
{% endblock javascripts %}
