{% if mode =='index' %}
<div class="newQuestionBtn tdcButton" >Ask Question</div>
{% elseif mode =='view' %}
<div class="newQuestionBtn tdcButton" >Answer Question</div>
{% endif %}

<div class="popularTags">Popular Questions</div>
{% for item in popularQuestions %}
<div class='tags'>
        <a href="{{path("tdc_qa_view",{"id":item.id})}}">{{ item.title }}</a>
</div>
{% endfor %}

<div class="popularTags">Popular Tags</div>
{% for item in tags %}
<div class='tags'>
    <span class="tag">
        <a href="{{path("tdc_qa_tagged",{"tag":item.value})}}">{{ item.value }}</a>
    </span> 
    x {{item.tag_count}} 
</div>
{% endfor %}

{% block javascripts %}
    <script >
    $(".newQuestionBtn").mousedown(function(){
        $(this).addClass("tdcButtonDown");
    });
    $(".newQuestionBtn").mouseup(function(){
        $(this).removeClass("tdcButtonDown");
    });
    $(".newQuestionBtn").click(function(){
        {% if mode =='index' %}
            window.location = "{{path("tdc_qa_ask")}}";
        {% elseif mode =='view' %}
            window.location = "{{path("tdc_qa_answer",{'id':question.id}) }}" 
        {% endif %}
    });
   </script>
{% endblock javascripts %}
