{% extends 'tdcQABundle:Default:layout.html.twig' %}

{% set num = tag|length %}
{% block titleName %}Tag:
    {% if num > 1 %}
        Index
    {% else %}
        {{ tag.value|capitalize }}
    {% endif %}
{% endblock %}

{% if num > 1 %}
    {% block qaAction %}:{{tag.value|capitalize}}{%endblock%}
{% endif %}


{% block body %}
<div id="paginatorTop" class="paginator"></div>
    {% if num > 1 %}
    <div class="tagged">Tags</div>
    {% else %}
        {% for item in questions %}
        <div class='questionSummary'>
            <div class="questionTitle"><a href="{{path("tdc_qa_view",{'id': item.id}) }}">{{item.title}}</a></div>
            <!--
            <div class="tags">
                {% for tag in item.tags %}
                <span class="tag">
                    <a href="{{ path("tdc_qa_tagged",{"tag":tag.value})}}">{{ tag.value }}</a>
                    </span>
                {% endfor %}
            </div>
            -->
            <div class="author">author: 
                <i>{{item.user}}</i>
            </div>
            <div class="updated">updated: 
                <i>{{ item.updated|date("m/d/Y H:i:s") }}</i>
            </div>
            <div class="views">views: {{item.views}}</div>
            <div class="answers">answers: {{item.answers|length}}</div>
        </div>
        {% endfor %}
    {% endif %}
<div id="paginatorBottom" class="paginator"></div>
{% endblock %}

{% block sidebar %}
    {% if num == 1 %}
        {% include 'tdcQABundle:Default:sidebar.html.twig' with {'mode':'tagged' } %}
    {% endif %}
{% endblock sidebar %}

{% block javascript_post %}
    {{ parent() }}
    $('.paginator').tdcPaginator({
                start:{{start}},
                max:{{max}},
                lastLabel:">>",
                firstLabel: "<<",
                trailLinks: 3,
                currentPageColor:"rgb(0,105,255)",
                {% if num > 1 %}
                    queryUrl:'{{ path("tdc_ws_tagged_list",{'tag':"all"}) }}',
                    targetUrl:'{{ path("tdc_qa_tagged",{"tag":'all'}) }}'
                {% else %}
                    queryUrl:'{{ path("tdc_ws_tagged_list",{'tag':tag.value}) }}',
                    targetUrl:'{{ path("tdc_qa_tagged",{"tag":tag.value}) }}'
                {% endif %}
                });
{% endblock javascript_post %}
