{% extends 'tdcQABundle:Default:layout.html.twig' %}
{% block titleName %}{{question.title}}{% endblock %}

{% block qaAction %}:View Question{%endblock%}

{% block body %}
    > <a href="{{ path("tdc_qa_homepage")}}">Q & A</a>
        <div class="questionTitle">{{ question.title }}</div>
        <div class="questionText">{{question.text|raw}}</div>
        <div class="author">author: 
            <i>{{question.user}}</i>
        </div>
        <div class="updated">updated: 
            <i>{{ question.updated|date("m/d/Y H:i:s") }}</i>
        </div>
        <div class="views">views: {{question.views}}</div>
        <div class="tags">
            {% for tag in question.tags %}
            <span class="tag">
                <a href="{{path("tdc_qa_tagged",{"tag":tag.value})}}">{{ tag.value }}</a>
            </span>
            {% endfor %}
        </div>
        <div class="answerArea">
            {% set i = 0 %}
            {% for ans in question.answers %}
            <div class="row_{{ cycle(['0', '1'], i) }}">
                <div class="answerTitle">{{ans.title}}</div>
                <div class="answerText">{{ans.text|raw}}</div>
                <div class="author">author: 
                    <i>{{ans.user}}</i>
                </div>
                <div class="updated">updated: 
                    <i>{{ ans.updated|date("m/d/Y H:i:s") }}</i>
                </div>
                <div class="questionEnd"></div>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
        </div>
{% endblock %}

{% block sidebar %}
{% include 'tdcQABundle:Default:sidebar.html.twig' with
    {'mode':'view'} 
%}
{% endblock sidebar %}
