<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
        {% block title %}
            TDC:
            {% block titleName %}{% endblock titleName %}
        {% endblock title %}
        </title>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block header_javascripts %}
            {% javascripts
                debug=false
                'public/js/jquery/jquery-1.6.4.min.js'
                'public/js/jquery/jquery.mousewheel.js'
                'public/js/jquery/jquery.jscrollpane.min.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"  /></script>
            {% endjavascripts %}
        {% endblock header_javascripts %}
        
        {% block stylesheets %}
            {% stylesheets  
            'public/css/jquery.jscrollpane.css'
            'public/css/TDC1/main.css'
            %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}


    <body>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=285119854835053";
            fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

        <div id='mainContent_hdlr'>
            
            <div id="socialBar">
                <div id="socialIcons_hldr">
                    <div class="socialIcon">
                        <a href="http://www.facebook.com/pages/TD-Channel/136759419761676">
                            <img src="{{path("tdc_front_homepage")}}../public/images/TDC1/FaceBook_32.png"/>
                        </a>
                    </div>
                    <div class="socialIcon">
                        <a href="https://twitter.com/TDChannel">
                            <img src="{{path("tdc_front_homepage")}}../public/images/TDC1/Twitter_32.png"/>
                        </a>
                    </div>
                    <div class="socialIcon">
                        <img src="{{path("tdc_front_homepage")}}../public/images/TDC1/Feeds_32.png"/>
                    </div>
                </div>
                <div id="loginButtons_hldr">
                {% block tdcLoginButtons %}
                {% if app.user == "" %}
                    <div id="login_btn" class='tdcButton'
                     target="{{path("fos_user_security_login")}}">
                        Login
                    </div><div id="register_btn" class='tdcButton'
                      target="{{path("fos_user_registration_register")}}">
                        Register
                    </div>
                {% else %}
                    <div id="profile_btn" class='tdcButton'
                     target="{{path("fos_user_profile_show")}}">
                        Profile
                    </div><div id="logout_btn" class='tdcButton'
                      target="{{path("fos_user_security_logout")}}">
                        Logout
                    </div>

                {% endif %}
                {% endblock tdcLoginButtons %}
                </div>
            </div>

            <div id="header_hldr">
                <div id="logo_hldr">
                    <img width="113px" id="headerLogo" 
                        src="{{ path("tdc_front_homepage") }}../public/images/TDC1/tdcLogo.png"></img>
                </div>

                <div id="nav_hldr">
                    <div id="userWelcome_hldr">
                        {% if app.user != "" %}
                        <div class="headerBlurbTitle">Welcome {{app.user.name}}</div>
                        {% else %}
                        <div class="headerBlurbTitle">Welcome to TDChannel</div>


                        {% endif %}
                    </div>

                    
                    <!-- div id="beSocial_hldr">
                        <div class="contentBlurbTitle">Lattest News</div>
                    </div -->
                </div></br>

                <div id="navBarPre">
                        <div class="fb-like" data-href="http://www.facebook.com/pages/TD-Channel/136759419761676" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"  data-font="arial"></div>

                        <a href="https://twitter.com/TDChannel" data-width="100px" class="twitter-follow-button" 
                            data-show-count="false" data-show-screen-name="false">Follow @TDChannel</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </div><div id="navBar_hldr">
                            <div id="home_btn" class='tdcButton tdcButtonBarFirst'
                                target="{{path("tdc_front_homepage")}}">
                                Home
                            </div><div id="catalog_btn" class='tdcButton tdcButtonBar'
                                target="{{path("tdc_front_catalog_list")}}">
                                Catalog
                            </div><div id="faq_btn" class='tdcButton tdcButtonBar'
                                target="{{path("tdc_front_faq")}}">
                                FAQ
                            </div><div id="qa_btn" class='tdcButton tdcButtonBar'
                                target="{{path("tdc_qa_homepage")}}">
                                Q&A
                            </div><div id="about_btn" class='tdcButton tdcButtonBarLast'
                                target="{{path("tdc_front_about")}}">
                                About
                            </div>
                            
                            <div id="menuMarker_hldr">
                                <div id="home_mrkr" class="menuMarker">
                                </div><div id="catalog_mrkr" class="menuMarker">
                                </div><div id="faq_mrkr" class="menuMarker">
                                </div><div id="qa_mrkr" class="menuMarker">
                                </div><div id="about_mrkr" class="menuMarker">
                                </div>
                            </div>
                </div><div id="navBarPost"></div>
            </div>

            <div id="headerSeparator"></div>
            
            <div id="contentArea_hldr">
                {% block contentArea %}{% endblock contentArea %}
            </div>
            
            
            <div id="footer_hldr">
                <div id="sitemap_hldr">
                    <div class="footerBlurbTitle">Site Map</div>
                    <table id="siteMapTable">
                        <tr>
                        <td>
                            <li>
                                <a href="{{path("tdc_front_homepage")}}">
                                Home
                                </a>
                            </li>
                            <li>
                                <a href="{{path("tdc_front_faq")}}">
                                FAQ
                                </a>
                            </li>
                            <li>
                                <a>
                                Contact
                                </a>
                            </li>
                            <li>
                                <a href="{{path("fos_user_registration_register")}}">
                                Register
                                </a>
                            </li>
                            <li>
                                <a href="{{path("tdc_qa_homepage")}}">
                                Q&A
                                </a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a href="{{path("tdc_front_catalog_list")}}">
                                Catalog
                                </a>
                            </li>
                            <li>
                                <a href="{{path("tdc_front_about")}}">
                                About
                                </a>
                            </li>
                            <li>
                                <a href="{{path("fos_user_security_login")}}">
                                Login
                                </a>
                            </li>
                            <li>
                                <a href="{{path("tdc_user_subscribe")}}">
                                Subscribe
                                </a>
                            </li>
                        </td>
                        </tr>
                    </table>
                    <div id="siteStats_hldr">
                        <div class="footerBlurbTitle">Stats</div>
                        {% render "tdcFrontEndBundle:Front:siteStats" %}
                    </div>
                </div>
                <img src="{{path("tdc_front_homepage")}}../public/images/TDC1/footervseparator.png" class="footerSeparator"/ >
                <div id="rss_hldr">
                    <div class="footerBlurbTitle">@TDChannel</div>
                    <div id="tweetFeed_hldr" class="scrollPane">
                        {% render "tdcFrontEndBundle:Front:siteFeed" %}
                    </div>
                </div>
                <img src="{{path("tdc_front_homepage")}}../public/images/TDC1/footervseparator.png" class="footerSeparator"/>
                <div id="tagcloud_hldr">
                    <div class="footerBlurbTitle">Tag Cloud</div>
                    {% render "tdcQABundle:Default:tagCloud" with {'limit': 20} %}
                </div>
                <div id="copyright">All content copyright (c) 2012 - Rudy Cortes </div>
            </div>

        </div>
    </body>

    <script>
    {% block javascript_post %}
        $(document).ready(function(){
            // button handler
            $('.tdcButton').click(function(ev){
                var src = $(this);
                var target = src.attr('target');
                if (target) document.location=target;
            });
            
            // handle menu bar
            var page = String(document.location);
            if (page.search("\/catalog") !== -1) {
                $("#catalog_mrkr").addClass("currentMenuMarker");
                $("#catalog_mrkr").toggleClass("menuMarker");
            } else if (page.search("\/faq") !== -1) {
                $("#faq_mrkr").addClass("currentMenuMarker");
                $("#faq_mrkr").toggleClass("menuMarker");
            } else if (page.search("\/qa") !== -1) {
                $("#qa_mrkr").addClass("currentMenuMarker");
                $("#qa_mrkr").toggleClass("menuMarker");
            } else if (page.search("\/about") !== -1) {
                $("#about_mrkr").addClass("currentMenuMarker");
                $("#about_mrkr").toggleClass("menuMarker");
            } else {
                $("#home_mrkr").addClass("currentMenuMarker");
                $("#home_mrkr").toggleClass("menuMarker");
            }

            // scrollpanes
            $(".scrollPane").jScrollPane();

            // randomize tag cloud
            $(".tagcloud").each(function(key,value){
                var elem = $(value);
                rand = 1 + Math.max(-0.15,Math.min(0.4,((Math.random() * 2)-1))); 
                elem.css('font-size', rand+'em');
            });

        });
    {% endblock javascript_post %}
    </script>
</html>
