{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        debug=true
        'public/js/jquery/jquery-ui-1.8.16.custom.min.js'
        'public/js/tdc/tdc.js'
        'public/js/tdc/tdc.paginator.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"  /></script>
    {% endjavascripts %}
{% endblock header_javascripts %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/TDC1/catalog.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block titleName %}
    Catalog:
    {% if entity == "video" %}
        Videos
    {% else %}
        Categories
    {% endif %}
{% endblock titleName %}

{% block contentArea %}
    <div id="contentHolder">
        <h1>
        {% if entity == "video" %}
            Videos
        {% else %}
            Categories
        {% endif %}
        </h1>
        <div id="paginatorTop" class="paginator"></div>
       <center> 
        <table id="catalogTable" cellspacing="0px">
            {% if entity == "video" %}
                {% set i = 0 %}
                {% for item in values %}
                    <tr class="row_{{ cycle(['0', '1'], i) }}">
                        <td class="icon">
                            <a href="{{path("tdc_player_home",{'id':item.id})}}">
                                <img src={{path("tdc_front_homepage")}}../public/images/videos/{{item.filepath}}_icon.png />
                            </a>
                        </td>
                        <td class="info">
                            <a class="video" href="{{path("tdc_front_catalog_item",{'entity':'video','id':item.id})}}">
                                {{ item.name }} 
                                {% if item.subtitle %} 
                                    - {{item.subtitle}} 
                                {% endif %}
                            </a>
                            <label class="author">Author: {{item.author}}</label>
                            <label class="trt">Trt: {{item.trt}}</label>
                            <label class="views">Views: {{item.views}}</label>
                            <label class="rating">Rating: {{item.views}}</label>
                            <div class="summary">{{item.summary}}</div>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% else %}
                {% set i = 0 %}
                {% for item in values %}
                    <tr class="category row_{{ cycle(['0', '1'], i) }}">
                        <td >
                            <a class="video" href="{{path("tdc_front_catalog_item",{'entity':'category','id':item.id})}}">
                            {{item.name}}
                            </a>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endif %}
        </table>
        </center>
        <div id="paginatorBottom" class="paginator"></div>
    </div>
{% endblock contentArea %}

{% block javascript_post %}
    {{ parent() }}
    $('.paginator').tdcPaginator({
                start:{{start}},
                max:{{max}},
                lastLabel:">>",
                firstLabel: "<<",
                trailLinks: 3,
                currentPageColor:"rgb(0,105,255)",
                {% if entity == "video" %}
                    queryUrl:'{{ path("tdc_ws_video_list")}}',
                {% else %}
                    queryUrl:'{{ path("tdc_ws_category_list")}}',
                {% endif %}
                targetUrl:'{{ path("tdc_front_catalog_list")}}'+'/{{entity}}'
                });
{% endblock javascript_post %}
