{% extends 'tdcFrontEndBundle:Default:index.html.twig' %}

{% block title %}
    TDC::
    {% if index %}
        Categories
    {% else %}
        Category::{{category.name}}
    {% endif %}
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        debug=true
        'public/js/jquery/jquery-ui-1.8.16.custom.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"  /></script>
    {% endjavascripts %}
{% endblock header_javascripts %}

{% block contentArea %}
    <div id="contentHolder" >
        {% block body %}
            <div id="categoryHeader" >
                {% if index %}
                    <p class="categoryTitle">Categories</p>
                {% else %}
                    <p class="categoryTitle">{{ category.name }} Videos</p>
                    <div class="categoryDescription">{{category.description}}</div>
                {% endif %}
            </div>
            <center>
                <table id="tdcCategoryContent">
                {% if index %}
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Videos</th>
                    {% for cat in category %}
                        <tr>
                            <td><a href="{{path("tdc_front_homepage")}}category/{{cat.id}}">{{ cat.name }}</a> </td>
                            <td>{{ cat.summary }} </td>
                            <td>{{ cat.videos|length }} </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <th></th>
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Views</th>
                    <th>Rating</th>
                    {% set row = 0 %}
                    {% for vid in video %}
                        <tr class="row_{{row}}">
                            <td width="80px">
                                <img src="{{path("tdc_front_homepage")}}../public/images/icons/{{ vid.icon }}"/> 
                            </td>
                            <td>
                                <a href="{{path("tdc_front_homepage")}}catalog/{{vid.id}}" >
                                    <h3 class="courseName">{{ vid.name }}</h3>
                                </a>
                                <span class="courseAuthor">Author: {{vid.author}} </span>
                                <span class="courseTrt">TRT: {{vid.trt}}</span>
                            </td>
                            <td>{{ vid.Summary }}</td>
                            <td>{{ vid.views }}</td>
                            <td>{{ vid.views }}</td>
                        </tr>
                    {% set row = 1 - row %}
                    {% endfor %}

                {% endif %}
                </table>
            </center>
        {% endblock body %}
    </div>
{% endblock contentArea %}
