{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block titleName %}Welcome{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        debug=false
        'public/js/jquery/agile_carousel.alpha.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"  /></script>
    {% endjavascripts %}
{% endblock header_javascripts %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
    'public/css/agile_carousel.css'
    'public/css/TDC1/frontEnd.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block contentArea%}
    <div id="mainCarousel_hldr"></div>

    <div id="quote_hldr" >
        <div class="contentBlurbTitle">User Quotes</div>
        <div id="quotePicture_hldr"> 
            <img src="{{ path('tdc_front_homepage') }}../public/images/quoters/{{quoterImage}}"/ >
        </div>
        {{quote|raw}}
    </div>
    
    <div id="popularVideos_hldr">
        <div class="contentBlurbTitle">Top 10 Videos</div>
        <div id="topVideo_hldr" class="scrollPane">
        {% for video in videos%}
            <li>
                <a href="{{path("tdc_front_catalog_item",{"id":video.id,"entity":"video"})}}">{{video.name}}
                {% if video.subtitle %}
                - {{video.subtitle}}
                {% endif %}
                </a>
                <div>
                    <label class="author">Author: {{video.author}}</label>
                    <label class="trt">Trt: {{video.trt}}</label>
                    <label class="views">Views: {{video.views}}</label>
                </div>
            </li>
        {% endfor %}
        </div>
    </div>

    <div id="latestQuestions">
        <div class="contentBlurbTitle">Latest Questions</div>
        <div id="latestQuestions_hldr" class="scrollPane">
        {% for question in questions%}
            <li>
                <a>{{question.title}}</a>
                <div>
                    <label class="author">Author: {{question.user}}</label>
                    <label class="views">Views: {{question.views}}</label>
                    <label class="answers">Answers: {{question.answers|length}}</label>
                </div>
            </li>
        {% endfor %}
        </div>
    </div>
    <a href="{{path("tdc_user_subscribe")}}">
        <img style="margin-top:10px" src="{{path("tdc_front_homepage")}}../public/images/TDC1/subscribeNow.png"/>
    </a>
{% endblock contentArea %}

{% block javascript_post %}
   {{ parent() }}

   $(document).ready(function(){
           $("#mainCarousel_hldr").agile_carousel({
                carousel_data: {{bannerImages|raw}},
                carousel_outer_height: 425,
                carousel_height: 425,
                slide_height: 425,
                carousel_outer_width: 880,
                slide_width: 880,
                transition_time: 500,
                transition_type: "fade",
                timer: 4000,
                continuous_scrolling: true,
                control_set_1: "numbered_buttons"
                });
           });
{% endblock javascript_post %}
