{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/TDC1/subscribe.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block titleName %}Subscribe{% endblock %}

{% block contentArea %}
    <h1>
    {% if app.session.hasFlash('expiredSubscription') %}
        {{ app.session.flash('expiredSubscription') }}
    {% else %}
        Subscribe
    {% endif %}
    </h1>
    <div id="subscribe_hldr">
        {% if app.user != "" %}
            {% if app.session.hasFlash('expiredSubscription') %}
                <p>Our records indicate that your previous subscription has expired. We are glad to know that you would like to regain access to our library. Please follow the links below to start a new subscription.</p> 
            {% else %}
            <p>We are glad you have decided to join our community of learners. Please select the subscription method that best fits your needs. If you have any questions about our service please visit the <a href="{{path("tdc_front_faq")}}">F.A.Q.</a>, specially the <a href="{{path("tdc_front_faq")}}#payments">payments</a> section.</p>
            {% endif %}

                <center>
                <table id="subscribe">
                <tr>
                    <td>
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="HCDR4XQSCF4YA">
                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        
                        <input type="hidden" name="custom" value="{{app.user.id}}">
                        <input type="hidden" name="return" value="{{completeUrl}}">
                        <input type="hidden" name="notify_url" value="{{notifyUrl}}">
                        <input type="hidden" name="cancel_return" value="{{cancelUrl}}">

                        </form>
                        <p>Monthly</p>
                    </td>

                    <td>
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="FCQDZAW6GX8LE">
                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">

                        <input type="hidden" name="custom" value="{{app.user.id}}">
                        <input type="hidden" name="return" value="{{completeUrl}}">
                        <input type="hidden" name="notify_url" value="{{notifyUrl}}">
                        <input type="hidden" name="cancel_return" value="{{cancelUrl}}">
                        
                        </form>
                        <p>3 Months</p>
                    </form>
                    </td>

                    <td>
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="UXJVMPWBSNXVN">
                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        <p>6 Months</p>
                        </form>
                    </td>

                    <td>
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EM9EBZ5GEQP6W">
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        <p>1 Year</p>
                    </form>
                    </td>

                </tr>
                </table>
                </center>
        {% else %}
            <div class="noRegisteredMsg" > 
                <p> Before you can subscribe you need to <a href="{{path("fos_user_registration_register")}}">register</a> (Its free!)</p>
                <p>or <a href="{{path("fos_user_security_login")}}">login</a></p>
        {% endif %}
    </div>
{% endblock contentArea %}
