{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/TDC1/registerLogin.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block titleName %}Login{%endblock titleName %}

{% block fos_user_content %}
<div id="loginForm_hldr">
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form name="tdcLogin" action="{{ path("fos_user_security_check") }}" method="post">
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        </br>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </br>
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        </br>
        <input type="password" id="password" name="_password" />
        </br>
        <input type="checkbox" id="remember_me" name="_remember_me" class="styled" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </br>
        </br>
        <div id="formButton_hldr">
            <div id="loginFormSubmit_btn" class="tdcButton">Submit</div>
        </div>
        
        <!-- input type="submit" class="tdcButton blueBtnGradient" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" / --> 
    </form>
</div>

{% endblock fos_user_content %}


{% block javascript_post %}
    {{ parent() }}
    $('#loginFormSubmit_btn').click(function(evt){
      document.tdcLogin.submit();
    });
{% endblock %}
