{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/login.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block loginBar %}
    {% if app.user != "" %}
        logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - 
        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% endif %}
{% endblock loginBar %}

{% block contentArea %}
<center>
    <div id='loginArea'>
        <img src="{{ path('tdc_front_homepage') }}../public/images/tdcLogo_login.png" style="margin:20px;margin-top:0px" />
        <div>
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
            <!-- <a href="{{ path('fos_user_security_logout') }}">
                Logout
            </a> -->
            </br>
            </br>
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}
    </div>
</center>
{% endblock contentArea %}
