{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/login.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block contentArea %}
<center>
    <div id='loginArea'>
        <img src="{{ path('tdc_front_homepage') }}../public/images/tdcLogo_login.png" style="margin:20px;margin-top:0px" />
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                ##FIGURE OUT HOW TO REPLACE THIS </br/></br>
                <a href="{{ path('fos_user_security_logout') }}">
                    Logout
                </a>
                </br>
                </br>
            {% else %}
                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
                </br>
                </br>
                <!-- <a href="javascript(void());">Login</a> -->
            {% endif %}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}


    </div>
</center>
{% endblock contentArea %}
